body {
  background: #000;
  color: $activeColor;
  font-family: 'bit';

  a {
    color: lime;
  }
}

.container {
  display: grid;
  grid-template-columns: 80px 500px 520px 80px;
  grid-auto-rows: minmax(0px, auto);
  grid-template-areas:
  "tabz aside main vumeter" ;
  border:2px solid blue;
  //width:1280px;
  height:600px;
}

::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: #060;
}

::-webkit-scrollbar-thumb {
    background: lime;

}

::-webkit-scrollbar-corner {
    background: #060;
}
