body {
  background: #000;
  color: $activeColor;
  font-family: 'bit';

  a {
    color: lime;
  }
}

.container {
  display: grid;
  grid-template-columns: 120px 500px 520px auto auto;
  grid-auto-rows: minmax(0px, auto);
  grid-template-areas:
  "tabz aside main " ;
}
