
#tabs {
  list-style-type: none;
  grid-area:tabz;
  button{

    display:block;
    margin:0px;
    padding:0px;
    background-color: $background;
    margin-bottom: -1px;
    height: 25px;

    width:100%;
    color:lime;
    border: 1px solid lime;

    text-align: center;
  }
  ul{
    display:block;
    margin:0px;
    padding:0px;

  li {
    display: block;
    margin-bottom: -1px;
    a {
      display: block;
      height: 25px;


      border: 1px solid lime;

      text-align: center;
      text-decoration: none;
    }
    &:hover a,
    &.active a {
      background-color: #030;
    }
  }
  }
}


#tab-contents {
  grid-area:aside;
  border: 1px solid lime;
background-color: #030;
  grid-area:aside;
  .tab-contents {

    display: none;

    &.active {
      display: block;
      height:100%;
      width:100%;
    }
  }
}
