<div id="tab3" class="tab-contents active">

  <div class="file-tree">

  </div>
  <div id="browse_info">
    <img id="current_thumbnail">
    <p class="description editable">

    </p>
  </div>
</div>
