<section class="player">
<div class="screen">
  <canvas id="output"></canvas>
    <video id="video"></video>
</div>
<div id="progress_wrap">
  <div id="progress_load">
</div>
  <div id="progress_play">
</div>
</div> 
<div id="player_buttons">
  <i class="prev" id="prev"></i>
  <i class="play" id="playpause"></i>
  <i class="next" id="next"></i>
  <i class=""></i>
  <div class="ctrla">
    <div class="ctrlb"></div>
  </div>

</div>



<div class="currentdata">
  <div id="currentmedia">

  </div>
  <div class="playlist-position">
  </div>
</div>
<div class="progress-wrap  load-all">
  <div class="progress-bar progress"></div>
</div>


</section>
