<section id="player">
  <button id="loadplaylist">load playlist</button>
<canvas id="output"></canvas>
  <video id="video"></video>
  <div id="ctrlz">


      <div class="videoControl">
    <div id="seekbar">
      <span></span>
    </div>
    <div id="align">

    <span class="playBtn playctrl"></span>
    <span>auto download<input id="autodl" type="checkbox" /></span>
    <button class="dlBtn dlctrl">download</button>
      <button id="cancel_dl" class="dlBtn dlctrl">cancel dl</button>

    <button class="convertBtn dlctrl">convert</button>

    <select>
  <option value="mp4">
    mp4
  </option>
  <option value="mov">
    mov
  </option>
  <option value="avi">
    avi
  </option>
  <option value="gif">
    gif
  </option>
    </select>

  </div>
    <span id="seekbar"></span>
  <!--  <span id="fullButton"></span>-->

    <div class="currentdata">
      <div id="currentmedia">

      </div >
      <div class="playlist-position">
      </div>
      </div>
      <div class="progress-wrap  load-all" >
        <div class="progress-bar progress"></div>
      </div>
  </div>
  </div>


  </div>
</section>
