<div id="tab8" class="tab-contents">
    <p>search</p>

    <form id="search">
<input type="text" id="tag_search">
<br>
<input type="checkox" id="nsfw_search">
<br>
<select id="sites_search" multiple>
  <option value="2chan">2chan</option>
  <option value="4chan">4chan</option>
  <option value="issoutv">issou tv</option>
  <option value="wobm">w0bm</option>
  <option value="webmshare">webmshare</option>
  <option value="webmxyz">webm.xyz</option>
  <option value="webmland">webmland</option>
</select>
<br>
<input type="number" id="min_duration_search">
<input type="number" id="max_duration_search">
<br>

<input type="color" id="average_color_search">
<input type="number" id="color_tolerance_search">

    </form>
</div>
