<nav id="tabs">
  <button id="loadplaylist">load playlist</button>
  <ul>


  <li class="active"><a href="#tab3">browse</a></li>
  <li><a href="#tab1">scrapper</a></li>
  <li><a href="#tab2">infos</a></li>

  <li><a href="#tab4">export</a></li>
    </ul>
</nav>
<section id="tab-contents">
<%- include('./exportz'); %>
<%- include('./filebrowser'); %>
<%- include('./infos'); %>
<%- include('./scrapper'); %>
</section>
